body{
    font-family: 'Montserrat', sans-serif;  
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}
header{
    display: flex;
    padding-top: 5px;
    align-items: center;
    padding-top: 10px;
    justify-content: space-around;
    margin-bottom: 0px;
}
  
header div a {
    text-decoration: none;
}

.menu{
    padding: 12px 20px 12px 20px;
}

header img{
    width: 50px;
}
header p{
    color: white;
}
/* ANIMACION */

.corvus {
    display: flex;
}
.corvus img{
    margin-right: 20px;
}
.menu a{
    position: relative;
    color: white;
    margin: 4px;
}

.menu a::after{
    content: '';
    background: white;
    position: absolute;
    left: 0; bottom: 0;
    width: 95%; height: 1px;
    opacity: 0;
    transition: .3s ease;
}

.menu a:hover::after{
    opacity: 1;
    transform: translateY(2px);
}

.cont_login a{
    margin-left: 10px;
}

.login{
    position: relative;
    color: white;
}

.login::after{
    content: '';
    background: white;
    position: absolute;
    left: 0; bottom: 0;
    width: 95%; height: 1px;
    opacity: 0;
    transition: .3s ease;
}

.login:hover::after{
    opacity: 1;
    transform: translateY(2px);
}

.register {
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-size: 2vh;
    background-color:blueviolet;
    transition: all 0.4s ease;
}

.register:hover{
    box-shadow: 5px 5px white;
    background-color:#B8FF65;
    color: black;
}

/* ANIMACION */

/* HOME */

.contenedorhome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.contenedorhome h2{
    width: 35%;
    color: white;
    display: flex;
    margin-right: 5%;
    font-size: 5vh;
}

.textohome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    color: white;
    margin-left: 5%;
    width: 25%;
}

/* CONT APP */

.contenedorapp{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom: 10px;
    color: white;
}


.downloadapp h2{
    color: white;
}

.downloadapp a{
    display: inline-block;
    justify-content: center;
    color: white;
    background-color:blueviolet;
    padding: 10px 15px 10px 15px;
    border-radius: 100px;
    font-size: 2vh;
    text-decoration: none;
    transition: all 0.4s ease;
}

.parteizquierda{
    margin-left: 10%;
}

.downloadapp{
    position: absolute;
    margin-left: 60%;
    margin-bottom: 15%;
}

.downloadapp a:hover{
    background-color:#FFFC28;
    color: #000000;
    box-shadow: 5px 5px white;
}

.downloadapp h2{
    width: 75%;
}

.parteizquierda p{
    width: 60%;
}

/*FOOTER */

footer{
    background-color: #000000;
    margin-top: 5%;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.redes{
    margin-left: 2%;
    display: flex;
    align-items: center;
}
.redes h2{
    color: white;
    margin-right: 10px;
}


.redes div {
    margin:6px;
}

.twitter{
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.twitter img{
    width: 70%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ig{
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.ig img{
    width: 70%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.redes div:hover{
    background-color:#B8FF65;
}


.secondmenu a{
    position: relative;
    color:  white;
    margin: 4px;
    font-size:medium;
    text-decoration: none;
}

.secondmenu a::after{
    content: '';
    background: white;
    position: absolute;
    left: 0; bottom: 0;
    width: 95%; height: 1px;
    opacity: 0;
    transition: .3s ease;
}

.secondmenu a:hover::after{
    opacity: 1;
    transform: translateY(2px);
}

footer p{
    color: white;
    font-size: medium;
}

footer a{
    color: white;
    text-decoration: none;
}

/* AEARN PAGE */

.contenedorprincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorprincipal h2{
    color:black;
    background: linear-gradient(100deg,#FFFC28,#B8FF65);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 6vh;
}

.holdear{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.holdear h2{
    color: white;
    text-align: center;
}

.parrafosearnprincipal{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    margin-left: 20%;
    margin-right: 10%;
}

.parrafosearnprincipal p{
    margin-left: 4%;
    font-size: 2vh;
}

.cont_holdear{
    display:flex;
    justify-content: center;
}

.cont_holdear h2{
    color: #000000;
}
.cont_holdear p{
    color: black;
}

.cont_holdear div{
    display: flex;
    margin: 2rem;
    transition: all 0.3s ease;
}

.cont_holdear div:hover{
    box-shadow: 10px 10px #FFFC28;
    cursor: pointer;
}

.tasas{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: #B8FF65;
    width: 15rem;
    height: 15rem;
    border-radius: 15px;
}

.tasas h3{
    width: 60%;
    font-size: 2vh;
    margin-left: 2rem;
    margin-bottom: 0;
    padding-right: 2rem;
}

.tasas p{
    width: 60%;
    margin-left: 2rem;
}
.pagos{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: #B8FF65;
    width: 15rem;
    height: 15rem;
    border-radius: 15px;
}

.pagos h3{
    width: 60%;
    margin-left: 2rem;
    margin-bottom: 0;
    padding-right: 2rem;
}

.pagos p{
    width: 60%;
    margin-left: 2rem;
}

.uso{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: #B8FF65;
    width: 15rem;
    height: 15rem;
    border-radius: 15px;
}

.uso h3{
    width: 60%;
    margin-left: 2rem;
    margin-bottom: 0;
    padding-right: 2rem;
}

.uso p{
    width: 80%;
    margin-left: 2rem;
}

.holdfunciona{
    color: white;
    display: flex;
    margin: 5%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}

.holdfunciona h2{
    width: 10%;
}

.holdfunciona p{
    width: 50%;
}



